button{
    width: 250px;
}
.buttonContainer{
   align-items: center;
   justify-content: space-between;
   height: 240px;
   /* width: 500px; */
   /* background-color: red; */
}
span{
    font-size: 25px;
    margin-bottom: 25px;
}
.spanContainer{
    margin-bottom: 15px;

}